body {
  color: white;
  background-color: black;
  font-family: 'Sacramento', cursive;
  font-size: 32px;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
    color: white;
    font-size: 250%;


}

.hero {
    
    margin: auto;
}